body {
    background: #3B94D9;
}

.parallax {
    /* The image used */
    background-image: url("https://image.freepik.com/free-photo/wooden-background-with-different-tools_23-2147624703.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/*add media queries*/