.root {
    -fx-font-size: 20px;
}

.create-button {
    -fx-background-color: #33FF33;
    -fx-text-fill: #111;
}

.write-button {
    -fx-background-color: #FFFF33;
    -fx-text-fill: #111;
}

.read-button {
    -fx-background-color: #3333FF;
    -fx-text-fill: #EEE;
}

.delete-button {
    -fx-background-color: #FF3333;
    -fx-text-fill: #EEE;
}

.create-button:hover {
    -fx-background-color: #00CC00;
    -fx-text-fill: #111;
}

.write-button:hover {
    -fx-background-color: #CCCC00;
    -fx-text-fill: #111;
}



.container {
    position: relative;
    margin: 0 auto;
}
.col {
    height: 50px;
}

.squareBtn {
    width: 40px;
    height: 40px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    float: left;
}
.squareBtn:hover {
    background-color: grey;
    cursor: pointer;
}

.output {
    font-family: sans-serif;
    font-size: 40px;
    width: 600px;
    border: 1px solid green;
}