* {
    box-sizing: border-box;
}
body {
    margin: 0;

}
.wrapper {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .3fr 3fr .3fr .3fr;
    grid-gap: 5px;
    grid-template-areas:
            "header header header header"
            "nav article article article"
            "nav section section section"
            "footer footer footer footer";
    height: 100vh;
}

header {
    padding-left: 15px;
    padding-top: 15px;
    grid-area: header;
    background-color: yellowgreen;
    /*background-color: cornflowerblue;*/
}
nav {
    padding-left: 15px;
    padding-top: 15px;
    grid-area: nav;
    background-color: yellowgreen;
    /*background-color: #0fb784;*/
}
article {
    padding-left: 15px;
    padding-top: 15px;
    grid-area: article;
    background-color: yellowgreen;
    /*background-color: aqua;*/
}
section {
    padding-left: 15px;
    padding-top: 15px;
    grid-area: section;
    background-color: yellowgreen;
    /*background-color: mediumpurple;*/
}
footer {
    padding-left: 15px;
    padding-top: 15px;
    grid-area: footer;
    background-color: yellowgreen;
    /*background-color: coral;*/
}