.jumbotron {
    background-image: url("../images/pizza.png");
    background-size: 100%;
}
.jumbotron-fluid h1 {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: white;
    opacity: 0.6;
}
