* {
    box-sizing: border-box;
    color: black;
}
body {
    justify-content: space-between;
    width: 100%;
    height: 20px;
    padding-right: 5px;
    font-family: 'Montserrat', sans-serif;
}
a {
    display: inline-block;
    padding: .3em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:hover {
    color: lightskyblue;
    transition: font-size 10ms;
}
h1 {
    text-align: center;
    font-size: 3em;
    margin: 0 auto;
}
.logo-div h1 {
    padding: .2em 0;
    flex-basis: auto;
}

.inlineDiv {
    display: inline;
}
.navBar {
    background-color: gray;
}
.navBarLinks {
    display: inline;
}
.navBarLogo {
    display: inline;
}
.navBarIcons {
    display: inline;
    /*float: left;*/
}




#inlineDiv{
    display: inline;
}
#inlineDiv li{
    display: inline;
}

/*ADD FOOTER NEXT -- ADJUST LOGO*/





