html, body {
    height: 100%;
    text-align: center;
}

h1, h2, h3 .fancy-header {
    color:darkred;
    text-decoration: underline;

}

h1 {
 /*text-align: center;*/
 font-size: 50px;
}

main {
    /*text-align: center;*/
    font-size: 22px;
}

body {
    color: ghostwhite;
    background-image: url("../images/wood.2.jpg");
    background-repeat: repeat;
    background-size: auto;
    background-color:whitesmoke;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 20px;
}

ul, li {
    color:whitesmoke;
    margin-left: -55px;
    list-style-position: inside;
}

table, th, td,tr {
    margin-left: 480px;
    border: 5px solid black;
    color: white;
    padding: 15px;

}

a:link {
    color: darkred;
    text-decoration: underline;
    cursor: auto;
}

a:hover {
    color: darkblue;
    font-size: 30px;
}

a:visited {
    color: purple;
}