.container {
  width: 700px;
  height: 400px;
  border: 2px solid #000;
}

.blue {
  width: 220px;
  height: 400px;
  background-color: blue;
  float: left;
}

.rectangle {
  width: 500px;
  height: 200px;
  margin-left: 200px;

}

.white-bg {
  background-color: white;
}

.red-bg {
  background-color: red;
}

#star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid white;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
  margin-top: 160px;
  margin-left: 13px;
}
#star-five:before {
  border-bottom: 80px solid white;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
#star-five:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid white;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}