.root {
  --main-bg: #181818;
  --link-color: red;
  --separator-color: #ffffff;
  --light-bg: blue;
}

* {
  box-sizing: border-box;

}

.flag {
  positition: relative;
  width: 500px;
  height: 500px;
  margin: 10px;
}

.box2 {

}